<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
	<servlet-name>Two1</servlet-name>
		<servlet-class>com.two.Two1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Two1</servlet-name>
		<url-pattern>/two1</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>Two2</servlet-name>
		<servlet-class>com.two.Two2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Two2</servlet-name>
		<url-pattern>/two2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Two3</servlet-name>
		<servlet-class>com.two.Two3Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Two3</servlet-name>
		<url-pattern>/two3</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Two4</servlet-name>
		<servlet-class>com.two.Two4Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Two4</servlet-name>
		<url-pattern>/two4</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>Three</servlet-name>
		<servlet-class>com.three.ThreeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Three</servlet-name>
		<url-pattern>/three</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>Three1</servlet-name>
		<servlet-class>com.three.Three1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Three1</servlet-name>
		<url-pattern>/three1</url-pattern>
	</servlet-mapping>
	
			<servlet>
		<servlet-name>Four1</servlet-name>
		<servlet-class>com.four.Four1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Four1</servlet-name>
		<url-pattern>/four1</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>WordGame</servlet-name>
		<servlet-class>com.five.WordGameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WordGame</servlet-name>
		<url-pattern>/wordgame</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Distr</servlet-name>
		<servlet-class>com.six.DistrServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Distr</servlet-name>
		<url-pattern>/distr</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Cemet</servlet-name>
		<servlet-class>com.six.CemetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cemet</servlet-name>
		<url-pattern>/cemet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>



